/* Estilos generales */
body {
    font-family: Arial, sans-serif;
    background-color: #fffbf2; /* Color terciario */
    margin: 0;
    padding: 0;
}

h1 {
    text-align: center;
    color: #333; /* Color complementario */
    margin-top: 20px;
}

form {
    max-width: 600px;
    margin: 20px auto;
    background-color: #fcebea; /* Fondo suave rosa */
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border: 2px solid #ff7e5f; /* Borde anaranjado primario */
}

label {
    display: block;
    font-weight: bold;
    margin-bottom: 10px;
}

input[type="text"], input[type="password"] {
    width: calc(100% - 20px);
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #feb47b; /* Borde amarillo secundario */
    border-radius: 5px;
    font-size: 16px;
    transition: border-color 0.3s ease;
}

input[type="text"]:focus, input[type="password"]:focus {
    border-color: #ff7e5f; /* Color de borde en tono anaranjado primario al enfocar */
}

input::placeholder {
    color: #ff7e5f; /* Color de texto del marcador de posición en tono anaranjado primario */
}

.button-container {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.boton, .ver-button {
    margin-right: 20px !important;
    width: calc(50% - 10px); /* Ancho equitativo para los botones */
    height: 50px; /* Altura fija para los botones */
    background-color: #ff7e5f; /* Botones en tono anaranjado primario */
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 18px;
    font-family: 'Roboto', sans-serif;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
    transition: all 0.3s ease;
}

.ver-button {
    background-color: #feb47b; /* Color secundario para botón 'Ver' */
}

.boton:hover, .ver-button:hover {
    opacity: 0.8;
    box-shadow: 0px 12px 24px rgba(0, 0, 0, 0.4);
}

.boton:active, .ver-button:active {
    transform: translateY(2px);
    box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.2);
}

@media screen and (max-width: 600px) {
    form {
        padding: 20px; /* Reducir el padding para pantallas pequeñas */
    }

    .boton, .ver-button {
        width: 100%; /* Ancho completo para botones en pantallas pequeñas */
        margin-right: 0;
        margin-bottom: 10px;
    }
}
