body {
    font-family: Arial, sans-serif;  /* Fuente principal */
    background-color: #f0f0f0;  /* Color de fondo */
    margin: 0;
    padding: 0;
}

.container {
    max-width: 90%;  /* Ancho máximo del contenedor */
    margin: 30px auto;  /* Margen superior e inferior automático para centrar */
    background-color: #fff;  /* Color de fondo del contenedor */
    padding: 20px;  /* Relleno interior */
    border-radius: 8px;  /* Bordes redondeados */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);  /* Sombra suave */
    font-size: 0.9rem;  /* Tamaño de fuente reducido */
    line-height: 1.6;  /* Altura de línea */
}

h3 {
    text-align: left;  /* Alinear texto a la izquierda */
    color: #e67e22;  /* Color naranja */
    font-size: 1.2rem;  /* Tamaño de fuente */
    margin-bottom: 10px;  /* Margen inferior */
}

h1 {
    text-align: center;  /* Alinear texto al centro */
    color: #d35400;  /* Naranja oscuro */
    font-size: 2rem;  /* Tamaño de fuente */
    margin-bottom: 10px;  /* Margen inferior */
}

.contenido {
    text-align: left;  /* Alinear texto a la izquierda */
    font-weight: bold;  /* Texto en negrita */
    color: #333;  /* Color de texto principal */
    font-size: 1.2rem;  /* Tamaño de fuente */
    margin-bottom: 8px;  /* Margen inferior */
}

.container p:last-child {
    margin-bottom: 0;  /* Eliminar margen inferior del último párrafo dentro del contenedor */
}

.bold-text {
    font-weight: bold;  /* Texto en negrita */
    color: #e67e22;  /* Color naranja para el texto en negrita */
}

.back-button {
    background-color: #e67e22;  /* Color de fondo naranja */
    color: #fff;  /* Color del texto blanco */
    border: none;  /* Quitar borde */
    padding: 10px 20px;  /* Relleno interior */
    font-size: 1rem;  /* Tamaño de fuente */
    cursor: pointer;  /* Cambiar cursor al pasar el ratón */
    border-radius: 5px;  /* Bordes redondeados */
    margin-top: 20px;  /* Margen superior */
}

.back-button:hover {
    background-color: #d35400;  /* Color de fondo naranja oscuro al pasar el ratón */
}

.afectados {
    font-size: 1.5rem;  /* Tamaño de fuente grande */
    color: #ff7417;  /* Color naranja más claro */
}
