@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

body {
    font-family: 'Montserrat', sans-serif;
    background: linear-gradient(135deg, #f06, #48f); /* Gradiente vibrante */
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    color: #333;
}

.container {
    max-width: 600px;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.9);  /* Fondo blanco con transparencia */
    padding: 30px;
    border-radius: 16px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    font-size: 1rem;
    line-height: 1.8;
    opacity: 0;
    transform: translateY(30px);
    animation: fadeInUp 0.7s forwards;
    transition: transform 0.4s, box-shadow 0.4s;
    text-align: center;
}

.container:hover {
    transform: translateY(0);
    box-shadow: 0 0 40px rgba(0, 0, 0, 0.2);
}

@keyframes fadeInUp {
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

h1 {
    text-align: center;
    color: #48f;  /* Azul vibrante */
    font-size: 2rem;
    margin-bottom: 20px;
}

h3 {
    color: #f06;  /* Rojo vibrante */
    font-size: 1.3rem;
    margin-bottom: 15px;
}

.contenido {
    font-weight: bold;
    color: #333;  /* Texto oscuro */
    font-size: 1.1rem;
    margin-bottom: 20px;
    opacity: 0;
    height: 0;
    transition: opacity 0.6s ease, height 0.6s ease;
    overflow: hidden;
}

.contenido.visible {
    opacity: 1;
    height: auto;
}

.bold-text {
    font-weight: bold;
    color: #f06;  /* Rojo vibrante */
}

.buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px; /* Espacio entre los botones */
    margin-top: 20px;
}

.back-button, .expand-button {
    background-color: #48f;
    color: #fff;
    border: none;
    padding: 12px 30px;
    font-size: 1rem;
    cursor: pointer;
    border-radius: 8px;
    transition: background-color 0.3s;
    width: 80%; /* Para que los botones ocupen un ancho cómodo */
    max-width: 300px; /* Máximo ancho para mantener consistencia */
    text-align: center;
}

.back-button:hover, .expand-button:hover {
    background-color: #358de6;
}

.afectados {
    font-size: 2.2rem;
    color: #48f;  /* Azul claro */
    margin-top: 20px;
}

.container p:last-child {
    margin-bottom: 0;
}
