@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

/* Estilos generales */
body {
    font-family: 'Montserrat', sans-serif;
    background-color: #f2f2f2;
    margin: 0;
    padding: 0;
    color: #333;
    line-height: 1.6;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

/* Estilos del encabezado */
.header {
    background-color: #1a2980;
    color: #fff;
    padding: 20px 0;
    text-align: center;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.header-inner {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

.header-title {
    font-size: 2.5rem;
    margin: 0;
}

/* Estilos del contenido principal */
.main {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
    gap: 30px;
    padding: 20px;
}

.announcement {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    width: 100%;
    max-width: 400px;
    transition: transform 0.3s ease;
}

.announcement:hover {
    transform: translateY(-5px);
}

.announcement-header {
    padding: 20px;
    background-color: #1a2980;
    color: #fff;
}

.announcement-title {
    font-size: 1.8rem;
    margin: 0;
}

.announcement-date {
    margin-top: 5px;
    font-size: 0.9rem;
}

.announcement-content {
    padding: 20px;
}

.content {
    margin-bottom: 20px;
}

.affected {
    font-weight: bold;
}

.announcement-footer {
    padding: 20px;
    text-align: center;
}

.expand-button {
    background-color: #26d0ce;
    color: #fff;
    border: none;
    padding: 12px 30px;
    font-size: 1rem;
    cursor: pointer;
    border-radius: 8px;
    transition: background-color 0.3s;
}

.expand-button:hover {
    background-color: #1a2980;
}

/* Estilos del pie de página */
.footer {
    position: fixed;
    bottom: 20px;
    left: 20px;
}

.back-button {
    background-color: #1a2980;
    color: #fff;
    border: none;
    padding: 12px 30px;
    font-size: 1rem;
    cursor: pointer;
    border-radius: 8px;
    transition: background-color 0.3s;
}

.back-button:hover {
    background-color: #26d0ce;
}
.hidden{
    display: none;
}