body {
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
    background: linear-gradient(135deg, #f64865, #d90429, #f64865, #d90429); /* Gradiente de colores rojizos */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.main-container {
    background-color: #fff; /* Fondo blanco */
    border-radius: 20px; /* Bordes redondeados */
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2); /* Sombra suave */
    padding: 20px;
    max-width: 600px;
}

.container {
    text-align: center;
}

.header {
    margin-bottom: 20px;
}

.titulo {
    font-size: 36px;
    color: #333;
    margin-bottom: 10px;
}

.typing-animation {
    margin-bottom: 20px;
}

.typing-text {
    display: inline-block;
    overflow: hidden;
    border-right: .15em solid orange; /* Borde simulando el cursor */
    white-space: nowrap;
    margin: 0 auto;
    letter-spacing: .15em; /* Espaciado entre caracteres */
    animation: typing 3.5s steps(40, end),
               blink-caret .75s step-end infinite;
}

@keyframes typing {
    from { width: 0 }
    to { width: 100% }
}

@keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: orange; }
}

.boton-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.boton {
    background-color: #ff7e5f;
    color: #fff;
    padding: 15px 40px;
    margin: 10px;
    font-size: 18px;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
    transition: all 0.3s ease;
}

.boton:hover {
    background-color: #d90429;
    transform: translateY(4px) scale(1.05);
    box-shadow: 0px 12px 24px rgba(0, 0, 0, 0.4);
}
