/* Estilos generales para el documento */
body {
    font-family: Arial, sans-serif; /* Fuente y familia de fuentes para todo el cuerpo del documento */
    background-color: #f0f0f0; /* Color de fondo general del cuerpo */
    margin: 0; /* Elimina el margen predeterminado */
    padding: 0; /* Elimina el relleno predeterminado */
}

.container {
    font-weight: bold; /* Texto en negrita para el contenido del contenedor */
    font-size: 2rem; /* Tamaño de fuente grande para el contenido del contenedor */
    max-width: 90%; /* Ancho máximo del contenedor */
    max-height: 80%; /* Altura máxima del contenedor */
    margin: 20px auto; /* Margen superior e inferior automático y centrado horizontalmente */
    background-color: #fff; /* Color de fondo del contenedor */
    padding: 30px; /* Relleno interno del contenedor */
    border-radius: 8px; /* Bordes redondeados */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Sombra ligera */
}

h1 {
    text-align: center; /* Alineación centrada para los títulos h1 */
    color: #333; /* Color del texto del encabezado */
}

/* Estilos para la tabla */
table {
    width: 100%; /* Ancho completo de la tabla */
    border-collapse: collapse; /* Colapsar bordes de la tabla */
    margin-top: 20px; /* Margen superior */
    border-radius: 8px; /* Bordes redondeados */
    overflow: hidden; /* Ocultar el desbordamiento */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Sombra suave */
    border: 2px solid #333; /* Borde de la tabla */
    background-color: #fffbf2; /* Color de fondo de la tabla */
}

table th, table td {
    padding: 12px 15px; /* Relleno interno de celdas */
    text-align: left; /* Alineación del texto a la izquierda */
    border-bottom: 1px solid #ddd; /* Borde inferior de las celdas */
    font-size: 18px; /* Tamaño de fuente para encabezados y celdas */
}

table th {
    background: linear-gradient(90deg, #ff7e5f, #feb47b); /* Degradado de fondo para los encabezados */
    color: #fff; /* Color del texto de los encabezados */
    text-transform: uppercase; /* Transformación a mayúsculas */
    letter-spacing: 0.1em; /* Espaciado entre letras */
    font-size: 20px; /* Tamaño de fuente para los encabezados */
    font-weight: bold; /* Texto en negrita para los encabezados */
}

table td {
    font-size: 18px; /* Tamaño de fuente para las celdas */
    color: #555; /* Color del texto de las celdas */
}

table tr:nth-child(even) {
    background-color: #fff0e0; /* Color de fondo alternativo para filas pares */
}

table tr:hover {
    background-color: #ffe0c7; /* Color de fondo al pasar el ratón sobre las filas */
}

/* Resaltar los días en la tabla */
table td:first-child {
    font-weight: bold; /* Texto en negrita para la primera columna (días) */
    color: #ff7e5f; /* Color especial para los días */
}

/* Estilos adicionales para las celdas y encabezados de la tabla */
table td, table th {
    position: relative; /* Posición relativa */
}

table td::before, table th::before {
    content: ""; /* Contenido generado */
    position: absolute; /* Posición absoluta */
    top: 0; /* Desde arriba */
    bottom: 0; /* Hasta abajo */
    left: 0; /* Desde la izquierda */
    right: 0; /* Hasta la derecha */
    background-color: rgba(0, 0, 0, 0.1); /* Color de fondo semitransparente */
    opacity: 0; /* Opacidad inicial */
    transition: opacity 0.3s ease; /* Transición suave de opacidad */
}

table td:hover::before, table th:hover::before {
    opacity: 1; /* Opacidad al pasar el ratón */
}

/* Estilos para el botón de retroceso */
#backButton {
    margin-top: 10%; /* Margen superior */
    padding: 20px 24px; /* Relleno del botón */
    background-color: #ff7e5f; /* Color de fondo del botón */
    color: #fff; /* Color del texto del botón */
    border: none; /* Sin borde */
    border-radius: 50px; /* Bordes redondeados */
    cursor: pointer; /* Cambia el cursor a puntero */
    font-size: 18px; /* Tamaño de fuente */
    font-family: 'Roboto', sans-serif; /* Familia de fuentes */
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2); /* Sombra suave */
    transition: all 0.3s ease; /* Transición suave */
    z-index: 1; /* Z-index para superponer sobre otros elementos */
}

/* Media queries para dispositivos móviles */
@media (max-width: 768px) {
    #adminButton, #backButton {
        font-size: 16px; /* Reducción del tamaño de fuente para dispositivos móviles */
        padding: 10px 20px; /* Ajuste del padding */
    }
}

/* Estilos al pasar el ratón sobre el botón de retroceso */
#backButton:hover {
    background-color: #d90429; /* Cambio de color de fondo al pasar el ratón */
    box-shadow: 0px 12px 24px rgba(0, 0, 0, 0.4); /* Sombra más pronunciada */
}

/* Estilos al presionar el botón de retroceso */
#backButton:active {
    transform: translateY(2px); /* Efecto de desplazamiento al presionar */
    box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.2); /* Sombra suave */
}
