/* Estilos generales para el documento */
body {
    font-family: Arial, sans-serif; /* Fuente y familia de fuentes para todo el cuerpo del documento */
    background-color: #11151d; /* Color de fondo general del cuerpo */
    margin: 0; /* Elimina el margen predeterminado */
    padding: 0; /* Elimina el relleno predeterminado */
}

.container {
    font-weight: bold; /* Texto en negrita para el contenido del contenedor */
    font-size: 1.8rem; /* Tamaño de fuente grande para el contenido del contenedor */
    max-width: 90%; /* Ancho máximo del contenedor */
    max-height: 80%; /* Altura máxima del contenedor */
    margin: 20px auto; /* Margen superior e inferior automático y centrado horizontalmente */
    background-color: #1e2a37; /* Color de fondo del contenedor */
    padding: 30px; /* Relleno interno del contenedor */
    border-radius: 8px; /* Bordes redondeados */
}

h1 {
    text-align: center; /* Alineación centrada para los títulos h1 */
    color: #00ffe7; /* Color del texto del encabezado */
}

/* Estilos para la tabla */
table {
    width: 100%; /* Ancho completo de la tabla */
    border-collapse: collapse; /* Colapsar bordes de la tabla */
    margin-top: 20px; /* Margen superior */
    border-radius: 8px; /* Bordes redondeados */
    overflow: hidden; /* Ocultar el desbordamiento */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Sombra suave */
    border: 2px solid #333; /* Borde de la tabla */
    background-color: #fffbf2; /* Color de fondo de la tabla */
}

table th, table td {
    padding: 12px 15px; /* Relleno interno de celdas */
    text-align: left; /* Alineación del texto a la izquierda */
    border-bottom: 1px solid #ddd; /* Borde inferior de las celdas */
    font-size: 18px; /* Tamaño de fuente para encabezados y celdas */
}

table th {
    background: linear-gradient(90deg, #008aff, #00ffe7);
    color: #fff; /* Color del texto de los encabezados */
    text-transform: uppercase; /* Transformación a mayúsculas */
    letter-spacing: 0.1em; /* Espaciado entre letras */
    font-size: 20px; /* Tamaño de fuente para los encabezados */
    font-weight: bold; /* Texto en negrita para los encabezados */
}

table td {
    font-size: 18px; /* Tamaño de fuente para las celdas */
    color: #698a9d;
}

table tr:nth-child(even) {
    background-color: #ccfffd; /* Color de fondo alternativo para filas pares */
}

table tr:hover {
    background-color: #ddd; /* Color de fondo al pasar el ratón sobre las filas */
}

/* Resaltar los días en la tabla */
table td:first-child {
    font-weight: bold; /* Texto en negrita para la primera columna (días) */
    color: #1d526f; /* Color especial para los días */
}

/* Estilos adicionales para las celdas y encabezados de la tabla */
table td, table th {
    position: relative; /* Posición relativa */
}

table td::before, table th::before {
    content: ""; /* Contenido generado */
    position: absolute; /* Posición absoluta */
    top: 0; /* Desde arriba */
    bottom: 0; /* Hasta abajo */
    left: 0; /* Desde la izquierda */
    right: 0; /* Hasta la derecha */
    background-color: rgba(0, 0, 0, 0.1); /* Color de fondo semitransparente */
    opacity: 0; /* Opacidad inicial */
    transition: opacity 0.3s ease; /* Transición suave de opacidad */
}

table td:hover::before, table th:hover::before {
    opacity: 1; /* Opacidad al pasar el ratón */
}


/* Media queries para dispositivos móviles */
@media (max-width: 768px) {
    .boton {
        font-size: 16px; /* Reducción del tamaño de fuente para dispositivos móviles */
        padding: 10px 20px; /* Ajuste del padding */
    }
}

/* Contenedor de botones */
.boton-container {
    display: grid;
    /* Usa Flexbox para diseño flexible */
    justify-content: center;
    /* Centra horizontalmente */
    align-items: center;
    /* Centra verticalmente */
    flex-wrap: wrap;
    /* Permite que los botones se envuelvan */
    margin-top: 20px;
    /* Margen superior */
}

/* Estilos para el botón */
.boton {
    margin-top: 12px;
    margin-bottom: 12px;
    position: relative;
    display: block;
    padding: 10px 20px;
    font-size: 0.8em;
    background: transparent;
    border: 2px solid var(--crl);
    font-weight: 500;
    border-radius: 40px;
    cursor: pointer;
    color: var(--crl);
    letter-spacing: 0.1em;
    text-transform: uppercase;
    transition: 0.8s;
    overflow: hidden;
}

.boton:hover {
    background: var(--crl);
    box-shadow: 0 0 25px var(--crl), 0 0 100px var(--crl), 0 0 150px var(--crl);

}

.boton span {
    display: inline-block;
    transition: transform 0.5s;
    text-shadow: 0 35px #fff;
    transform: translateY(0px);
}

.boton:hover span.hover {
    transform: translateY(-35px);
}

.boton span.hover {
    transform: translateY(-35px);
}
