:root {
    --color-light: #1b2633;
    --color-medium: #1e2a37;
    --color-dark: #11151d;
    --primary-color: #01dbc2;
    --secondary-color: #333;
    --background-color: linear-gradient(249.59deg, var(--color-light) 0%, var(--color-medium) 28.53%, var(--color-dark) 75.52%);
    --font-color: #fff;
    --content-background-color: #37475a;
    --input-border-color: #ccc;
    --input-background-color: #1b2633;
    --input-focus-shadow-color: rgba(74, 20, 140, 0.2);
    --hover-background-color: #20f7de;
    --report-item-border-color: #eee;
    --report-item-background-color: #f9f9f9;
    --shadow-color: rgba(0, 0, 0, 0.1);
}

body {
    display: flex;
    margin: 0;
    font-family: 'Poppins', sans-serif;
    background: var(--background-color);
    color: var(--font-color);
}

.sidebar {
    width: 250px;
    background: var(--secondary-color);
    color: var(--font-color);
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.sidebar-header {
    padding: 20px;
    text-align: center;
    background: var(--secondary-color);
}

.sidebar-menu {
    list-style: none;
    padding: 0;
    margin: 0;
    flex-grow: 1;
}

.sidebar-menu li {
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

.sidebar-menu a {
    display: block;
    color: var(--font-color);
    text-decoration: none;
    padding: 15px;
    transition: background 0.3s ease;
}

.sidebar-menu a:hover {
    background: var(--primary-color);
}

.main-content {
    flex-grow: 1;
    padding: 20px;
}

.section {
    background: var(--content-background-color);
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px var(--shadow-color);
}

.section h3 {
    margin-top: 0;
    color: var(--primary-color);
}

.action-button {
    background: var(--primary-color);
    color: var(--font-color);
    border: none;
    padding: 10px 20px;
    margin: 10px 0;
    border-radius: 5px;
    cursor: pointer;
    transition: background 0.3s ease;
}

.action-button:hover {
    background: var(--hover-background-color);
}

.form-group {
    margin-bottom: 20px;
}

.form-group label {
    font-weight: bold;
    color: var(--primary-color);
    display: block;
    margin-bottom: 5px;
}

.form-group input,
.form-group textarea {
    color: var(--font-color);
    width: 100%;
    padding: 10px;
    border: 1px solid var(--input-border-color);
    border-radius: 5px;
    background: var(--input-background-color);
    outline: none;
}

.form-group input:focus,
.form-group textarea:focus {
    box-shadow: 0 0 10px var(--input-focus-shadow-color);
}

.report-list .report-item {
    background: var(--report-item-background-color);
    padding: 15px;
    margin-bottom: 10px;
    border: 1px solid var(--report-item-border-color);
    border-radius: 5px;
}

.report-list .report-item h4 {
    margin-top: 0;
    color: var(--primary-color);
}
.custom-file-upload {
    display: inline-block;
    position: relative;
    font-family: Arial, sans-serif;
    cursor: pointer;
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    padding: 8px 12px;
    border-radius: 4px;
    overflow: hidden;
    color: #333;
    text-align: center;
    margin-bottom: 2%;
    width: 22%;
}

.custom-file-upload span {
    display: inline-block;
    vertical-align: middle;
    margin-right: 10px;
}

.custom-file-upload input[type="file"] {
    position: absolute;
    left: 0;
    top: 0;
    font-size: 20px;
    opacity: 0;
    cursor: pointer;
}

/* Estilos adicionales para el icono usando FontAwesome */
.custom-file-upload i {
    margin-right: 5px;
}
/* Estilos para el select personalizado con iconos */

/* Estilo para el select personalizado */
.custom-select {
    width: 25%;
    padding: 12px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    appearance: none; /* Oculta la flecha nativa del select */
    background-color: #fff;
    background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M7.41 8.59L12 13.17l4.59-4.58L18 10l-6 6-6-6 1.41-1.41z' fill='%23222'/%3E%3C/svg%3E"); /* Icono de flecha personalizado */
    background-repeat: no-repeat;
    background-position: right 8px center;
}

/* Estilo para cada opción del select */
.custom-select option {
    padding: 10px;
}
/* Estilos para los contenedores de los reportes */
.container-report {

    margin-bottom: 20px; /* Espacio entre cada tarjeta */
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background: var(--color-light);
    color: var(--primary-color);
}

/* Estilos para las tarjetas de reporte */
.report-card {
    padding: 10px;
}

.report-card h1 {
    text-align: center;
    font-size: 26px;
    margin-bottom: 10px;
}

.report-card h3 {
    font-size: 20px;
    color: #fff;
    margin-bottom: 8px;
}

.report-card p {
    font-size: 18px;
    line-height: 1.6;
    font-weight: bold;
}
