:root {
  --primary-color: #20f7de;
  --secondary-color: #11151d;
  --text-color: #333;
  --color-light: #1b2633;
  --color-medium: #1e2a37;
  --color-dark: #11151d;
  --background-color: linear-gradient(249.59deg, var(--color-light) 0%, var(--color-medium) 28.53%, var(--color-dark) 75.52%);
}

body {
  font-family: Arial, sans-serif;
  background: var(--background-color);
  color: var(--text-color);
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.carousel-container {
  margin-top: 3%;
  position: relative;
  width: 60%; /* Including margins for better centering */
  overflow: hidden;
}

.carousel {
  display: flex;
  transition: transform 0.5s ease-in-out;
}

.card {
  flex: 0 0 100%; /* Make each card take up 100% of the container width */
  background: var(--background-color);
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  max-height: 400px;
}

.card img {
  margin-left: 5%;
  width: 90%;
  height: 50%;
  object-fit: cover;
  border-radius: 6px;
}

.card-content {
  padding: 15px;
}

.card-content h2 {
  margin: 0 0 10px 0;
  font-size: 1.5em;
  text-align: center; /* Center-align text within the card content */
  color: #fff; /* White text color */
}

.card-content p {
  text-align: justify; /* Center-align text within the card content */
  margin: 5px 0;
  color: #fff; /* White text color */
}

.date-type-container {
  display: flex;
  justify-content: space-between;
  font-size: 0.9em;
  color: var(--secondary-color);
}

.carousel-button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: var(--primary-color);
  border: none;
  color: var(--background-color);
  padding: 10px;
  cursor: pointer;
  z-index: 100;
}

.prev {
  left: 10px;
}

.next {
  right: 10px;
}

.carousel-button:hover {
  background-color: var(--secondary-color);
}
.date-type-container {
  display: flex;
  justify-content: space-between;
  font-size: 0.9em;
  color: var(--secondary-color);
}

.fecha {
  align-self: flex-end;
  font-weight: bold;
  font-size: 14px;
  color: #61665e;
}

.tipo {
  align-self: flex-start;
  font-weight: bold;
  font-size: 14px;
  color:  #f7bf11;
}
.evento {
  color: #8fbe39 !important;
}
a {
  text-align: center;
  display: block;
  color: #20f7de;
  background: #11151d;
  border: 1px solid transparent;
  padding: 12px 30px;
  line-height: 1.4;
  font-size: 20px;
  font-weight: 500;
  border-radius: 30px;
  text-transform: uppercase;
  transition: all .55s ease;
  margin-top: 4%;
}