:root {
    --color-background: #11151d;
    --color-chat-bg: #1e2a37;
    --color-shadow: #01dbc200;
    --color-border: #5c5c5c;
    --color-chat-messages-bg: #1b2633;
    --color-message-bg: rgba(143, 143, 143, 0.6);
    --color-message-text: #fff;
    --color-law-message-bg: #01dbc2;
    --color-input-bg: #444;
    --color-form-placeholder: #ddd;
    --color-button-text: #01dbc2;
    --color-back-button: #ff4b4b;
    --color-font: #fff;
}

body {
    font-family: 'Poppins', sans-serif;
    background-color: var(--color-background);
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    height: 100vh;
    overflow: hidden;
}

.chat-container {
    background-color: var(--color-chat-bg);
    border-radius: 10px;
    box-shadow: 0 5px 15px var(--color-shadow);
    width: 95%;
    max-width: 600px;
    padding: 20px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    height: 90vh;
}

.chat-header {
    color: var(--color-font);
    font-size: 1.5em;
    margin-bottom: 20px;
    text-align: center;
    border-bottom: 1px solid var(--color-border);
    padding-bottom: 10px;
}

.chat-messages {
    flex: 1;
    border: 1px solid var(--color-border);
    padding: 15px;
    border-radius: 10px;
    background-color: var(--color-chat-messages-bg);
    margin-bottom: 15px;
    overflow-y: auto;
}

.chat-message {
    display: flex;
    align-items: flex-start;
    margin-bottom: 15px;
    font-weight: 600;
    font-size: 18px;
}

.chat-message img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 10px;
    margin-left: 10px;
}

.chat-message .message-content {
    max-width: 80%;
    padding: 10px 15px;
    border-radius: 10px;
    font-size: 0.9em;
}

.chat-message.user .message-content {
    background-color: var(--color-message-bg);
    color: var(--color-message-text);
    align-self: flex-end;
}

.chat-message.user {
    flex-direction: row-reverse;
}

.chat-message.law .message-content {
    background-color: var(--color-law-message-bg);
    color: var(--color-message-text);
}

.chat-form {
    display: flex;
    border-top: 1px solid var(--color-border);
    padding-top: 10px;
}

.chat-form input[type="text"] {
    flex: 1;
    padding: 10px;
    border: none;
    border-radius: 20px;
    outline: none;
    background-color: var(--color-input-bg);
    color: var(--color-font);
    font-size: 1em;
}

.chat-form input[type="text"]::placeholder {
    color: var(--color-form-placeholder);
}

.boton {
    background: transparent;
    border: none;
    font-size: 1.5em;
    cursor: pointer;
    color: var(--color-button-text);
    margin: 0 5px;
}

.back-button {
    color: var(--color-back-button);
}

.send-button {
    color: var(--color-button-text);
}
