/* Estilos generales para el cuerpo del documento */
body {
    margin: 0; /* Elimina el margen predeterminado */
    padding: 0; /* Elimina el relleno predeterminado */
    font-family: Arial, sans-serif; /* Familia de fuentes para todo el documento */
    background-image: url('../img/FondoSIFTI.jpg'); /* Imagen de fondo */
    background-size: cover; /* Ajusta el tamaño de la imagen para cubrir todo el fondo */
    background-position: center; /* Centra la imagen de fondo */
    display: flex; /* Activa el modelo de caja flexible */
    flex-direction: column; /* Dirección de apilamiento de los elementos */
    align-items: center; /* Centra horizontalmente los elementos */
    justify-content: flex-start; /* Alinea los elementos al inicio verticalmente */
    height: 100vh; /* Altura del viewport */
}

/* Estilos para el contenedor de selectores */
.select-container {
    margin-top: 20px; /* Espacio entre los selectores y la imagen */
    display: flex; /* Activa el modelo de caja flexible */
    justify-content: space-around; /* Distribución equitativa de los elementos */
    width: 100%; /* Ancho completo del contenedor */
}

/* Estilos para los selectores */
select {
    width: 45%; /* Ancho del selector */
    padding: 10px; /* Relleno interno */
    border: 1px solid #ccc; /* Borde del selector */
    border-radius: 5px; /* Bordes redondeados */
    appearance: none; /* Oculta la flecha del selector en algunos navegadores */
    background-color: #ffff; /* Color de fondo */
    cursor: pointer; /* Cursor tipo puntero */
}

/* Estilos para la imagen */
.image-container {
    text-align: center; /* Alineación centrada del contenido */
    margin-top: 20px; /* Espacio entre los selectores y la imagen */
}

#selectedImage {
    max-width: 100%; /* Ancho máximo de la imagen */
    max-height: 500px; /* Altura máxima de la imagen */
    display: block; /* Para centrar la imagen */
    margin: 0 auto; /* Centra la imagen horizontalmente */
}

/* Estilos para el botón */
.boton {
    background-color: #4CAF50; /* Color de fondo del botón */
    border: none; /* Sin borde */
    color: white; /* Color del texto */
    padding: 15px 32px; /* Relleno del botón */
    text-align: center; /* Alineación centrada del texto */
    text-decoration: none; /* Sin subrayado en el texto */
    display: inline-block; /* Elemento en línea */
    font-size: 16px; /* Tamaño de fuente */
    margin: 4px 2px; /* Márgenes */
    cursor: pointer; /* Cursor tipo puntero */
    border-radius: 10px; /* Bordes redondeados */
    position: absolute; /* Posicionamiento absoluto */
    bottom: 10px; /* Distancia desde la parte inferior */
    left: 10px; /* Distancia desde la izquierda */
}
@keyframes fondoAnimado {
    0% {
        background-color: #16DBA5;
        transform: scale(1);
    }
    20% {
        background-color: #0CD19B;
        transform: scale(1.05);
    }
    40% {
        background-color:  #00B37D;
        transform: scale(1.1);
    }
    60% {
        background-color:  #00B37D;
        transform: scale(1.1);
    }
    80% {
        background-color: #0CD19B;
        transform: scale(1.05);
    }
    100% {
        background-color: #16DBA5;
        transform: scale(1);
    }
}

.current {
    color: #ffffff !important;
    animation: fondoAnimado 3.5s infinite;
    transition: transform 0.2s;
}